/* style.css */
html{
    height: 100%;
}
header{
    color: #000;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    top: 10px;
}

div.canada{
    color: #808080;
    position: relative;
    top: 270px;
    border-top: lightgray 1px solid;
    background-color: #F0F0F0;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;

}
div.bottom{
    position: relative;
    color: gray;
    top: 270px;
    border-top: lightgray solid 1px;
    background-color: #F0F0F0;
    overflow: auto;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 25px;
}

body{
    margin: 0;
    background-color: white;
    display: grid;
    grid-template: "head1 head2" 30px
                    "google"
                    "search"
                    "button lucky"
                    "french"
                    "foot"
                    "foot1 foot2";
    
    text-align: center;
}

img.google_logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    grid-area: google;
    height: 90px;
    position: relative;
    top: 175px;
}

.sign_in{
    background-color: royalblue;
    color: white;
    border-radius: 5px;
    height: 30px;
    width: 70px;
    
}

.search{
    position: relative;
    top: 225px;
    grid-area: search;
    height: 40px;
    width: 550px;
    background: url(../google-homepage-Easy-/google_mic.png) no-repeat right 20px center;
}

.button{
    position: relative;
    top: 220px;
    grid-area: button;
    padding: 10px;
    font-weight: 700;
    color: #808080;
}

.lucky{
    position: relative;
    top: 220px;
    grid-area: lucky;
    padding: 10px;
    font-weight: 700;
    color: #808080;
}

p{
    position: relative;
    top: 220px;
    grid-area: french;
}

a{
    text-decoration: none;
}

img.google_apps{
    height: 20px;
    width: 20px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.navbar_left{
    grid-area: head1;
    float: left;
    position: relative;
    top: 10px;
}

ul.navbar_right{
    grid-area: head2;
    float: right;
    position: relative;
    top: 10px;
}

ul#footer_left{
    grid-area: foot1;
    float: left;
}

.canada{
    text-align: left;
}

ul#footer_right{
    grid-area: foot2;
    float: right;
}

li{
    display: inline;
    margin: 5px;
}

img.mic{
    height: 20px;
    width: 15px;
    position: relative;
    top: 230px;
}

a:hover{
    text-decoration: underline;
}